---
layout: default
paginate: true
---
    <h1 class="page-heading mx-1">Techstream</h1>

    <ul class="list-unstyled mx-1">
        {% for post in paginator.posts %}
            <li class="media post-card">
                <img src="{{ site.baseurl }}/assets/heading_images/{{ post.logo }}" class="align-self-top mr-3 mt-1 d-none d-sm-block" alt="post-image">

                <div class="media-body">
                    <h5 class="mt-0 mb-1 post-heading">
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h5>

                    <div class="post-content mb-0">
                        {{ post.excerpt }}

                        <div class="post-meta ml-auto mt-3">
                            {{ post.date | date: "%b %-d, %Y" }} |
                            <span class="post-cat ml-1">
                                {{ post.categories | sort | join: " &#183; " }}
                            </span>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <nav class="pagination-nav" aria-label="Page nav">
        <ul class="pagination justify-content-center ml-0">
            {% if paginator.previous_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.previous_page_path }}" aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link previous">Previous</span>
                </li>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page }}</a>
                {% elsif page == 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ site.url }}">{{ page }}</a>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
                </li>
            </li>
            {% endfor %}

            {% if paginator.next_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.next_page_path }}" aria-label="Next">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">Next</span>
                </li>
            {% endif %}
        </ul>
    </nav>

    <p class="rss-subscribe mx-1">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
