---
layout: default
title: Personalstream
permalink: /personalstream/
weight: 80
---

<div class="home">
    <div class="page-heading-container">
        <h1 class="page-heading mx-1">Personalstream</h1>
        {% include buy_coffee.html %}
    </div>

    <ul class="list-unstyled mx-1">
        {% for post in site.personalstream reversed %}
            <li class="media post-card {% if forloop.last == true %}post-card-last{% endif %}">
                <img src="{{ site.baseurl }}/assets/heading_images/{{ post.logo }}" class="align-self-top mr-3 mt-1 d-none d-sm-block" alt="post-image">

                <div class="media-body">
                    <h5 class="mt-0 mb-1 post-heading">
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h5>

                    <div class="post-content mb-0">
                        {{ post.excerpt }}

                        <div class="post-meta ml-auto mt-3">{{ post.date | date: "%b %-d, %Y" }}</div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe mx-1">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
