<footer class="site-footer container">
    <div class="row mx-1">
        <div class="col-3 mx-0 px-0">
            <ul class="social-media-list">
                {% if site.github_username %}
                <li>
                  {% include icon-github.html username=site.github_username %}
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="site-description col-9 mx-0 px-0">
            <p>{{ site.description }}</p>
        </div>
    </div>

    <div class="row mx-1 footer-legal">
        <div class="col-sm-12 offset-sm-0 col-md-8 offset-md-2">
            Copyright &copy; 2020, Justin Karimi. All Rights Reserved. All technology logos used for the expressed purpose
            of promotion or knowledge (trademarked and copyrighted to their respective owners). All content referenced within
            attributed to their sources and Copyright of their owners as identified under "Credit". In short - no ownership
            claimed of anything owned by others.
        </div>
    </div>
</footer>
