<header class="col-12 col-md-2 p-0 bg-dark fixed-top navbar-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark flex-md-column flex-row py-2">
        <a class="navbar-brand mx-0 pb-0" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/images/other/headshot.png" class="rounded-circle img-fluid mx-auto d-block headshot" alt="whoami">
            <span class="site-title mt-2">{{ site.title }}</span>
        </a>

        <div class="site-sub-title my-1"><a href="https://github.com/jekhokie"><i class="fab fa-github"></i>{{ site.sub_title }}</a></div>
        <div class="site-sub-title-subtext mt-1 mb-3">Tech Learnings & Doings</div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav container w-100 flex-md-column px-0">
                <li class="nav-item">
                    <a class="nav-link pl-0" href="{{ site.baseurl }}/"><span class="d-md-inline">{{ "Techstream" | upcase }}</span></a>
                </li>
                {% assign page_list = site.pages | sort:"weight" %}

                {% for my_page in page_list %}
                    {% if my_page.title %}
                        <li class="nav-item {% if forloop.last == true %}nav-item-last{% endif %}">
                            <a class="nav-link pl-0" href="{{ my_page.url | prepend: site.baseurl }}"><span class="d-md-inline">{{ my_page.title | upcase }}</span></a>
                        <li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="social-links mt-3">
            <a href="https://www.linkedin.com/in/justin-karimi-cissp/" target="_blank"><i class="fab fa-linkedin fa-2x mx-2"></i></a>
            <a href="https://github.com/jekhokie" target="_blank"><i class="fab fa-github fa-2x mx-2"></i></a>
        </div>
    </nav>
</header>
