/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.navbar {
  padding: 0px;
}

.navbar-brand {
    font-size: 26px;
    font-weight: 300;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.navbar-brand {
    .site-sub-title {
        float: right;
        font-size: 22px;
        font-style: italic;
        margin-left: 9px;
        vertical-align: middle;
        line-height: 38px;
    }
}

#navbarNav {
    .nav-link {
        color: $text-color;
    }

    .nav-link:hover {
        text-decoration: underline;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    .social-media-list {
        list-style: none;
        margin-left: 0;
    }

    .site-description {
        text-align: right;
        color: rgba(0, 0, 0, 0.54) !important;
    }

    .footer-legal {
      text-align: center;
      color: rgba(0, 0, 0, 0.54) !important;
      font-size: 8px;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding-bottom: 24px;
}

.post-card {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 12px;
    padding-bottom: 24px;

    .media-body {
        .post-heading a {
            color: rgba(0, 0, 0, 0.84);
            font-size: 22px;
        }

        .post-content {
            color: rgba(0, 0, 0, 0.54);
            font-weight: 400;
            font-size: 15px;

            .post-meta {
                font-size: 13px;

                .post-cat {
                    font-style: italic;
                }
            }
        }
    }
}

nav.pagination-nav ul {
    li.active a {
        color: #fff !important;
        background-color: #337ab7 !important;
        border-color: #337ab7 !important;
    }
    
    li a.page-link {
        color: #337ab7;
    }

    li a.page-link:visited {
        color: #337ab7;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;

    .post-meta {
        color: rgba(0, 0, 0, 0.54);
        font-style: italic;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * RSS Subscribe
 */
.rss-subscribe {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.84);
}
