/**
 * Site header
 */
@media (min-width: 768px) {
    header {
        height: 100%;
        width: 250px!important;
        min-width: 250px!important;
    }

    main.page-content {
        margin-left: 265px;
    }
}

@media (max-width: 767px) {
    display: flex;
    align-items: center;

    .navbar-brand {
        text-align: left!important;
        line-height: 18px;

        img.headshot {
            display: inline-block!important;
            width: 40px;
            margin-right: 0px!important;
        }

        .site-title {
            display: inline-block!important;
            margin-top: 0px!important;
            margin-left: 8px;
            height: 100%;
            vertical-align: middle;
        }
    }

    .site-sub-title,.site-sub-title-subtext {
        display: none;
    }

    .navbar-collapse {
        ul {
            padding: 0px;
            margin: auto;
            width: 100%!important;
            max-width: none;

            li.nav-item {
                border-top: none!important;
                width: 100%;
                letter-spacing: .1rem;
            }

            li.nav-item-last {
                border-bottom: none!important;
            }
        }
    }

    .social-links {
        display: none;
    }

    main.page-content {
        margin-top: 60px;
    }
}

@media (max-width: 1024px) {
    .about-me {
        .media {
            display: block;
        }

        img.headshot {
            display: block;
            margin-left: auto!important;
            margin-right: auto!important;
            margin-bottom: 12px;
        }
    }
}

.navbar-brand {
    color: rgb(51, 51, 51);
    font-weight: 300;
    text-align: center;
    letter-spacing: .1rem;

    img.headshot {
        max-width: 40%;
        border: 2px solid #dee2e6;
        background-color: #fff;
    }

    .site-title {
        color: #fff;
        font-weight: 300;
        text-align: center;
        letter-spacing: .1rem;
        font-size: 22px;
    }
}

.navbar {
    .site-sub-title {
        letter-spacing: .07rem;
        color: #fff;
        font-weight: 300;
        text-align: center;
        font-size: 16px;

        a {
            color: #ccc;

            i.fa-github {
                margin-right: 4px;
            }
        }

        a:hover {
            color: #fff;
        }
    }

    .site-sub-title-subtext {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        letter-spacing: .1rem;
        font-style: italic;
    }
}

.navbar-collapse {
    text-align: center;
    width: 90%;

    ul {
        margin-left: 0px;
        font-size: 14px;

        li.nav-item {
            border-top: 1px dashed rgba(255, 255, 255, 0.2);
            width: 100%;
            letter-spacing: .1rem;
        }

        li.nav-item-last {
            border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
        }
    }
}

.social-links {
    width: 100%;
    text-align: center;

    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.75);
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    margin: 30px 0px;
    padding-top: 15px;

    .social-media-list {
        list-style: none;
        margin-left: 0;
    }

    .site-description {
        text-align: right;
        color: rgba(0, 0, 0, 0.54) !important;
    }

    .footer-legal {
      text-align: center;
      color: rgba(0, 0, 0, 0.54) !important;
      font-size: 8px;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding-bottom: 24px;
}

.post-card {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 12px;
    padding-bottom: 24px;

    .media-body {
        .post-heading a {
            color: rgba(0, 0, 0, 0.84);
            font-size: 22px;
        }

        .post-content {
            color: rgba(0, 0, 0, 0.54);
            font-weight: 400;
            font-size: 15px;

            .post-meta {
                font-size: 13px;

                .post-cat {
                    font-style: italic;
                }
            }
        }
    }
}

.post-card-last {
    border-bottom: none!important;
}

nav.pagination-nav ul {
    li.active a {
        color: #fff !important;
        background-color: #337ab7 !important;
        border-color: #337ab7 !important;
    }
    
    li a.page-link {
        color: #337ab7;
    }

    li a.page-link:visited {
        color: #337ab7;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;

    .post-meta {
        color: rgba(0, 0, 0, 0.54);
        font-style: italic;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * RSS Subscribe
 */
.rss-subscribe {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.84);
}

/**
 * About Me
 */
.about-me {
    img.headshot {
        max-width: 200px;
    }
}
